html[mode="light"] {
}

html[mode="dark"] {
}

:root {
  font-family: "Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  --primary: #55da60;
  --primary-hover: #88e58f;
  --secondary: #EB6400;
  --secondary-hover: #FBAF00 ;

  --background: #fff;
  --background-hover: #f5f5f5;
  --green: #17A74A;
  .flex {
    display: flex;
  }
  .slide-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left {
      display: flex;
      align-items: center;
    }
    &__drawer {
      display: none;
    }
    &__right {
      display: flex;
      align-items: center;
      justify-content: right;
      &__item {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        &:hover {
          background-color: var(--background-hover);
          border-radius: 5px;
        }
        svg {
          color: var(--primary);
          &:hover {
            color: var(--primary-hover);
          }
        }
      }
    }
  }

  a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
  }
}
